NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>
#for delete user
SUPABASE_SERVICE_ROLE_KEY=


DB_CONNECTION_STRING=

# connection Supabase and Drizzle

DATABASE_URL=


# in vercel link to website
NEXT_PUBLIC_BASE_URL=

GEO_API_KEY=

RESEN_API_KEY=
ADMIN_EMAIL=
RESEND_FROM_EMAIL=
